/* .velo_slides{
  z-index: 8;
  position: relative;
  height: 100vh;
  
 
}

.velo_slide{
  height: 100vh;
  z-index: 4;

} */

/* 
  ._header{
    z-index: 9;
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
    padding: 6%;
    background-color: #111;
    
  }
  ._title{
    margin-bottom: 0.1em;
    line-height: 1.1;
    color: #fff;
    letter-spacing: -0.025em;
    font-weight: 700;
       
  }
  ._text{
    color: #fff;
    max-width: 30em;
    display: block;
    margin: 1em 0 1.5em 1%;
    font-size: 1.1em;
    line-height: 1.8;
    font-weight: 300;
  }

  ._figure{
    z-index: 0;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
    transition: transform 0.5s ease; 
  }

  ._bg{
    z-index: 7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #111;
    transform: translateZ(0);
    backface-visibility: hidden;
    background-color: #111;
    
    overflow: hidden;
   
  }

  .oh{
    display: block;
    overflow-y: hidden;
    padding: 0.02em 0;
  }
    
  .oh span{
    display: inline-block;
    transform:translate3d(0,140%,0);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.8s ease;
  }
  
  .is-active .oh span{
    transform:translate3d(0,0%,0);
    opacity: 1;
     }
  
  .is-active .oh:nth-of-type(2n) span{
    transition-delay:0.2s;
  } */
  
  
  .body {
  /*   --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00; */
  
  /*   --background: var(--blue);
    --accent: var(--white);
   */
    /* margin: 0;
    padding: 0; */
   /*  background-color: var(--background); */
    color: var(--accent);

   /*  font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal; */
  /*   -webkit-font-smoothing: antialiased; */
   /*  scroll-snap-type: y mandatory;
    overflow: scroll;
  position: relative; */
  }
  
  .y-mandatory {
    scroll-snap-type: y mandatory;
  }
 
  
  .h1,
  .h2,
  .h3 {
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: center;
    margin: 100px 0 40px;
  }
  
  .h2 {
    font-weight: 400;
    margin: 50px 0 10px;
  }
  
  .p {
    margin: 0 0 30px 0;
    font-size: 18px;
  }
  
  .code {
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: normal;
  }
  
    
 /*  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: var(--background);
  } */
  
  .html {
    scroll-snap-type: y mandatory;
  }
  
  .h1 {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    text-align: center;
    margin: 100px 0;
  }
  
  .h2 {
  /*   margin: 0;
    color: var(--accent); */
    left: calc(50% + 130px);
    /* font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    position: absolute; */
  }
  
  .section {  
    perspective: 500px;  
    /* background-color: var(--background); */
   /*  color: var(--accent);   */  
  }  

  .progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;   
    bottom: 100px;
    
    /*  background: var(--accent); */
  }
  
  .mask {
 /*    width:550px;
    height:550px;
    background:salmon;  
    overflow:hidden; */
  /*   clip-path:polygon(10% 30%, 90% 30%, 90% 70%, 10% 70%); */
     box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

  /* background-color: none; */
  
/*   background-image:  radial-gradient(#d6d6d6 1.85px, transparent 1.85px), radial-gradient(#d6d6d6 1.85px, transparent 1.85px);
  background-size: 74px 74px;
  background-position: 0 0,37px 37px; */
  
/*   background-color: none;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='11.9' stroke-opacity='0' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
 */
 
 background-image: url("https://i.imgur.com/P27HoEZ.png");
 
/* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='304' height='304' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23c6c6c6' fill-opacity='0.12'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.12'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
 */  } 

.head {
  background: none;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.demotext {
   
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  
 
  }