/* .velo_slides{
  z-index: 8;
  position: relative;
  height: 100vh;
  
 
}

.velo_slide{
  height: 100vh;
  z-index: 4;

} */

/* 
  ._header{
    z-index: 9;
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
    padding: 6%;
    background-color: #111;
    
  }
  ._title{
    margin-bottom: 0.1em;
    line-height: 1.1;
    color: #fff;
    letter-spacing: -0.025em;
    font-weight: 700;
       
  }
  ._text{
    color: #fff;
    max-width: 30em;
    display: block;
    margin: 1em 0 1.5em 1%;
    font-size: 1.1em;
    line-height: 1.8;
    font-weight: 300;
  }

  ._figure{
    z-index: 0;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(1);
    transition: transform 0.5s ease; 
  }

  ._bg{
    z-index: 7;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    color: #111;
    transform: translateZ(0);
    backface-visibility: hidden;
    background-color: #111;
    
    overflow: hidden;
   
  }

  .oh{
    display: block;
    overflow-y: hidden;
    padding: 0.02em 0;
  }
    
  .oh span{
    display: inline-block;
    transform:translate3d(0,140%,0);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.8s ease;
  }
  
  .is-active .oh span{
    transform:translate3d(0,0%,0);
    opacity: 1;
     }
  
  .is-active .oh:nth-of-type(2n) span{
    transition-delay:0.2s;
  } */
  
  
  .body {
  /*   --black: #000000;
    --ash-black: #222;
    --white: #fafafa;
    --sky: #00ccff;
    --green: #22dddd;
    --blue: #1300ff;
    --dusk: #6600ff;
    --purple: #9900ff;
    --pink: #ff0066;
    --red: #fe0222;
    --orange: #fd7702;
    --yellow: #ffbb00; */
  
  /*   --background: var(--blue);
    --accent: var(--white);
   */
    /* margin: 0;
    padding: 0; */
   /*  background-color: var(--background); */
    color: var(--accent);

   /*  font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal; */
  /*   -webkit-font-smoothing: antialiased; */
   /*  scroll-snap-type: y mandatory;
    overflow: scroll;
  position: relative; */
  }
  
  .y-mandatory {
    scroll-snap-type: y mandatory;
  }
 
  
  .h1,
  .h2,
  .h3 {
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .h1 {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.2;
    text-align: center;
    margin: 100px 0 40px;
  }
  
  .h2 {
    font-weight: 400;
    margin: 50px 0 10px;
  }
  
  .p {
    margin: 0 0 30px 0;
    font-size: 18px;
  }
  
  .code {
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: normal;
  }
  
    
 /*  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
  }
  
  ::-webkit-scrollbar-corner {
    background: var(--background);
  } */
  
  .html {
    scroll-snap-type: y mandatory;
  }
  
  .h1 {
    font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    text-align: center;
    margin: 100px 0;
  }
  
  .h2 {
  /*   margin: 0;
    color: var(--accent); */
    left: calc(50% + 130px);
    /* font-size: 56px;
    font-weight: 700;
    letter-spacing: -3px;
    line-height: 1.2;
    position: absolute; */
  }
  
  .section {  
    perspective: 500px;  
    /* background-color: var(--background); */
   /*  color: var(--accent);   */  
  }  

  .progress {
    position: fixed;
    left: 0;
    right: 0;
    height: 5px;   
    bottom: 100px;
    
    /*  background: var(--accent); */
  }
  
  .mask {
 /*    width:550px;
    height:550px;
    background:salmon;  
    overflow:hidden; */
  /*   clip-path:polygon(10% 30%, 90% 30%, 90% 70%, 10% 70%); */
     box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);

  
  
  }

 

.head {
  background: none;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.demotext {
   
  text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
  
 
  }